
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
$color-primary: #FFA3A3;
$color-secondary: #2B000F;
$color-tertiary: #83002F;
$vino-Tinto: #400017;
$vino-tinto-light: #83002F;
$color-red-wine-light: #755963;
$color-white: white;
$color-black: black;
$background-image-icons: url('https://project-power-her-images.s3.us-east-1.amazonaws.com/AddeValueIcon.svg');
