@import '../../../styles/styles.scss';

.footerPrincipal{
    background-color: $color-secondary;
    height: 60vh;
    display: flex;
    flex-direction: column;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

    &__container{
        width: 80vw;
        display: flex;
        justify-content: space-around;
    }

    &__article{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: $color-white;
    }

    ul{
        list-style: none;
    }
    
    a{
        text-decoration: none;
        color: inherit;
    }

    h2{
        font-weight: 500;
        font-size: 16px;
    }

    li{
        padding-top: 10px;
        display: flex;
        align-items: center;
    }

    &__figure{
        display: flex;
    }

    &__figure img{
        width: 24px;
        height: 24px;
        margin-right: 10px;
    }

    &__bottom{
        color: aliceblue;
        display: flex;
        justify-content: center;
        align-items: end;
        margin-top: auto;
        padding-bottom: 20px;
    }

    &__bottom span{
        white-space: pre;
    }
}