@import '../../../styles/styles.scss';

.fondo{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: auto;

    &__img {
        max-width: 100%;
        height: auto;
    }
}

.home{
    width: 100vw;
    height: 100vh;
    background-image: $background-image-home;
    background-size: cover;
    background-position: center;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    &__container{
       
        position: relative;
        z-index: 2;
        margin: auto auto;
        @include center-content($max-width-mobile);

        @include tablet {
            @include center-content($max-width-tablet)
        }

        @include laptop {
            @include center-content($max-width-laptop);
        }

        @include desktop {
            @include center-content($max-width-desktop);
            max-width: $max-width-large-desktop;
        }
    }

    &__container p{
        font-size: 32px;
        font-weight: 400;
        text-align: start;
    }

    &__title{
        font-size: 32px;
        font-weight: 400;
        text-align: start;
        padding-bottom: 30px;
    }

    &__span{
        font-size: 32px;
        font-weight: 700;
    }

    

    &__subtitle{
        font-size: 30px;
        font-weight: 400;
        text-align: start;
    }

    .button{
        margin-top: 40px;
    }

    @include laptop {
        .fondo {
            position: absolute;
            bottom: 0;
            z-index: 1;
            width: 100%;
        }
    }

    @include desktop {
        .fondo {
            bottom: -10px; 
        }
        
    }

}


