@import '../../../styles/styles.scss';

.solution{
    background-color: $color-red-wine-light;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    &__width{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        @include center-content($max-width-mobile);

        @include tablet {
            @include center-content($max-width-tablet);
        }

        @include laptop {
            @include center-content($max-width-laptop);
        }

        @include desktop {
            @include center-content($max-width-desktop);
            max-width: $max-width-large-desktop;
        }
    }

    &__title{
        display: flex;
        justify-content: center;
        align-items: center;
        color: $color-white;
        gap: 5px;
        font-size: 32px;
        font-weight: 400;
        padding: 0px 0px 30px 0px;
        white-space: pre;
        text-align: center;
        width: 55vw;

        @include tablet {
            text-align: center;
        }
    }
    &__titleDos{
        font-weight: 600;
    }

    &__container{
        width: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 60px;

        @include tablet {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
    }

    @include tablet {
        height: 100vh;
    }
}
